api:
  name:    "gbe-salesforce-proxy-oauth" #${project.artifactId} # replaced through Maven resource filtering
  version: "v1" #${project.version}    # replaced through Maven resource filtering
  id: "16681625"
http:
  private:
    port: "8091"    
  listener:
    host: ""
    port: "8091"
    basepath: "proxyapi"
    version: "/*"
    config: HTTPS_Shared_Listener_Config  
  requester:
    username: "637fcf6f13514c2fbc3e946cca8d2063"      
  premise:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apidev-premiseassets-fr.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  serviceOrders:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apidev-serviceorders-fr.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
      
  workOrders:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apidev-workorders-fr.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
      
  customer:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apidev-ngcustomers-fr.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  preferences:
    host: "testsecure-api.nationalgridus.com"    
    timeout: "3000000"
    port: "443"
    protocol: "HTTPS"
    baseuri:  "/xapi/preferences"
    client_id:  ""
    tls:
      cert:
        path: "keystore/qa-mtls-sfpmapi.nationalgridus.com.pfx"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  contacts:    
    timeout: "3000000"
    port: "8091"
    host: "dev-api.nationalgridus.com"
    protocol: "HTTPS"
    baseuri:  "/ng-contactpref-exp"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  commons:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apiuat-ng-common.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"        
##M-TLS configurations
salesforce:
    mtls: 
      validation:
        enabled: "N"
    

json.logger:
  prettyPrint: "true"
  disabled.fields: ""
##Alert Notification CloudHub Connector Properties##
ch:
  username: "NGLocalUser"

domain: "gbe-salesforce-proxy-oauth-dev"
environment.id: "3cb0e531-c1a2-420a-8322-6fc16f3a6a81"    
