api:
  name:    "gbe-salesforce-proxy-oauth" #${project.artifactId} # replaced through Maven resource filtering
  version: "v1" #${project.version}    # replaced through Maven resource filtering
  id: "16831918"
http:
  private:
    port: "8091"    
  listener:
    host: "0.0.0.0"
    port: "8091"
    basepath: "proxyapi"
    version: "/*"
    config: HTTPS_Shared_Listener_Config
  
  requester:
    username: "9d3390c957a8463893826e3eef450fe4"  
  premise:
    mule4migrate: "false"  
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "8091"
    mule4port: "8091"
    mule4host:  "mule-worker-internal-premiseassets-papi-prod.us-e1.cloudhub.io" 
    host: "mule-worker-internal-premiseassets.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  serviceOrders:
    mule4migrate: "false"  
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "8091"
    mule4port: "8093"
    mule4host:  "mule-worker-internal-serviceorders-papi-prod.us-e1.cloudhub.io"
    host: "mule-worker-internal-serviceorders.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"      
  workOrders:
    mule4migrate: "false"   
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "8091"
    mule4port: "8091"
    mule4host:  "mule-worker-internal-workorders-papi-prod.us-e1.cloudhub.io"
    host: "mule-worker-internal-workorders.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"      
  customer:
    mule4migrate: "false"  
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "8091"
    mule4port: "8091"
    mule4host:  "mule-worker-internal-customers-papi-prod.us-e1.cloudhub.io"
    host: "mule-worker-internal-ngcustomers.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  preferences:
    host: "api-us01.nationalgrid.com"    
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "443"
    protocol: "HTTPS"
    apiName:  "preference-sc-eapi"
    tls:
      cert:
        path: "keystore/mtls-sfpmapi.nationalgridus.com.pfx"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  contacts:    
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "443"
    host: "api-us01.nationalgrid.com" 
    protocol: "HTTPS"
    apiName:  "contact-sc-eapi"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  commons:    
    timeout: "300000"
    connectionidletime: "120000"
    responsetime: "120000"
    port: "8091"
    host: "mule-worker-internal-ng-common.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"   
      
  crisCustomer:
    host: "api-int-us.nationalgrid.com"
    port: "443"
    basepath: "cris-customer-proxy-prod"
    version: "v01"
    requestpath: "/crisCustomer"
    timeout: "300000"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"  
##M-TLS configurations
salesforce:
    mtls: 
      validation:
        enabled: "N"
    

json.logger:
  prettyPrint: "true"
  disabled.fields: ""    
  
ch:
  username: "NGLocalUser"
domain: "gbe-salesforce-proxy-oauth-prod"
environment.id: "82d7bef7-ce57-4c3a-94c4-2c04ab8db776"
