api:
  name:    "gbe-salesforce-proxy-oauth" #${project.artifactId} # replaced through Maven resource filtering
  version: "v1" #${project.version}    # replaced through Maven resource filtering
  id: "16660772"
http:
  private:
    port: "8091"    
  listener:
    host: ""
    port: "8091"
    basepath: "proxyapi"
    version: "/*"
    config: HTTPS_Shared_Listener_Config
  
  requester:
    username: "637fcf6f13514c2fbc3e946cca8d2063"  
  premise:
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apitraining-premiseassets.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"      
  serviceOrders:
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apitraining-serviceorders.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"      
  workOrders:
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apitraining-workorders-dr2.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"      
  customer:
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apitraining-customers.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  preferences:
    host: "dev-us.nationalgridus.com"    
    timeout: "3000000"
    port: "443"
    protocol: "HTTPS"
    baseuri:  "/gbeapi/ng-commpref-exp"
    client_id:  ""
    tls:
      cert:
        path: "keystore/qa-mtls-sfpmapi.nationalgridus.com.pfx"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  contacts:    
    timeout: "3000000"
    port: "8091"
    host: "dev-us.nationalgridus.com"
    protocol: "HTTPS"
    baseuri:  "/gbeapi/ng-contactpref-exp"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"
  commons:    
    timeout: "3000000"
    port: "8091"
    host: "mule-worker-internal-apitraining-ng-common.cloudhub.io"
    reconnection:
      attempts: "2"
      frequency: "30000"
    untilsuccessful:
      frequency: "30000"
      attempts: "2"        
##M-TLS configurations
salesforce:
    mtls: 
      validation:
        enabled: "N"
    

json.logger:
  prettyPrint: "true"
  disabled.fields: ""    
##Alert Notification CloudHub Connector Properties##
ch:
  username: "NGLocalUser"

domain: "gbe-salesforce-proxy-oauth-training"
environment.id: "3cb0e531-c1a2-420a-8322-6fc16f3a6a81"